/* navbar.css */

.navbar {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 50px;
    width: 50px;
}

.navList {
    display: flex;
    list-style: none;
}

.navList li {
    margin-right: 20px;
}

.navList a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.navList a:hover {
    color: #ffcc00;
}
