/* Styles.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar nav ul li {
  margin: 0 15px;
}

.headerlogo {
  max-width: 50px;
}
.persononphone {
    max-width: 200px; /* Set maximum width to 100% of its container */
    max-height: 200px; /* Set maximum height as needed */
  }
.landing-container {
  text-align: center;
  padding: 50px;
}

.persononphone {
  max-width: 100%;
}

.landing-background {
  max-width: 100%;
}

.formbox {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.formbox h1 {
  font-size: 24px;
  color: #333;
}

.input {
  margin-top: 20px;
}

.inputfield {
  margin-bottom: 15px;
}

.inputfield input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subbutton input {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.subbutton input:hover {
  background-color: #0056b3;
}