/* Styles.css */

/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f4f4f4; /* Light background color */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Optional: Prevent horizontal scrolling */
}

/* Typography Styles */
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-family: 'Roboto', sans-serif; /* Use Roboto for body text */
    margin-bottom: 1rem;
}

/* General Styles */
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Header Styles */
.App-header {
    position: relative;
    text-align: center;
}

.welcomeBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2.5rem;
    color: #fff; /* White text color */
}

.discription {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: #fff; /* White text color */
}

/* Image Styles */
.persononphone {
    position: absolute;
    top: 20%;
    right: 5%;
    max-width: 50%; /* Adjust the maximum width */
    height: auto;
    border-radius: 10px; /* Optional: Add border-radius for a rounded look */
}

.Landingbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3; /* Adjust the background image opacity */
}

/* Main logo */
.headerlogo {
    height: 100px;
    width: 100px;
    position: relative;
    left: 690%;
}

/* Signup Box */
.homeh1 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    height: 50px;
    bottom: 10px;
    color: #000;
    margin-bottom: 20px;
}

.formbox {
    width: 90%;
    max-width: 400px;
    margin: 0 auto; /* Center the form box */
    border-radius: 10px;
    background-color: #fff; /* White background for the form box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    padding: 20px;
    text-align: center;
}

.inputfield {
    width: 100%;
    margin: 15px 0;
}

.input {
    width: calc(100% - 30px);
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    font-family: 'Roboto', sans-serif; /* Use Roboto for input text */
}

.App {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    height: 50px;
    bottom: 10px;
    color: #1eaef6;
    margin-bottom: 20px;
}

.subbutton {
    width: 100%;
}
